* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

button {
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

button:hover {
  opacity: 70%;
}

a {
  text-decoration: none;
}
